{% extends 'app/index.html'%}


{% load static %}

{% block body %}

<div style="background-color: white"><br><br>
<div style="background-color:Maroon;;height:70px; margin-top:-45px;"></div>  
  <h2 style="text-align: center; color:brown;">Book an Appointment Today!<br>
    <p style="color: black;">To book an Appointment fill the form in two simple steps.</p></h2>
  
  <center><div style="text-align:center;border: 0px solid black; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2); width:600px; background-color: whitesmoke;">
    <form method="POST">
      {% csrf_token %}
    <br>
      <label for="name" style="margin-right:520px;"><b>Full Name</b></label><br>
      <input type="text" placeholder="Enter The Name" name="name" id="name" required style="background-color: white; width:590px;height:45px;">
      <br><br>
      <label for="number" style="margin-right:520px;"><b>Mobile No</b></label><br>
      <input type="number" placeholder="Enter The Number" name="number" id="number"required  style="background-color: white; width:590px;height:45px;">
      <br><br>
      <label for="email" style="margin-right:485px;"><b>Email Address</b></label><br>
      <input type="email" placeholder="Enter The Email" name="email" id="email" required style="background-color: white; width:590px;height:45px;">
      <br><br>
      <label for="carmodel" style="margin-right:460px;"><b>Car Make & Model</b></label><br>
      <input type="text" placeholder="Enter The CarmodelNo" name="carmodel" id="carmodel" required style="background-color: white; width:590px;height:45px;">
    
        
        
        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <br><br>
     
        <button type="submit" class="registerbtn" style="background-color: green; width:100px;"><p style="color: white;">Register</p></button><br><br>
      </div>
      <br>
      <p>Already have an account? <a href="#">Sign in</a>.</p>
      <br><br>
    </form>
</div></center><br><br><br>



</div>
        
     
     

{% endblock %}
