{% extends 'app/index.html'%}

{% load static %}

{% block body %}

<div style="background-color: white;">
  <div style="background-color:Maroon;;height:70px; margin-top:0px;"></div>
  <h2 style="text-align: center;">Corporate Office</h2>
<div class="btn-group" style="text-align: center;">
<button class="button" style="background-color:rgb(255, 217, 0);width: 300px; height:50px;">Corporate Office</button>
<button class="button" style="width: 300px; height:50px;">
 <a href="from1">Book an Appointment</a></button>

</div>
<br><br>
    <table style=" width:100%">
      <tr><td>
<iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d1845372.4457524728!2d78.63490057996688!3d25.39667337438052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e0!4m3!3m2!1d26.5681594!2d78.1906778!4m0!5e0!3m2!1sen!2sin!4v1600234498211!5m2!1sen!2sin" width="800" height="350" frameborder="0" 
style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></td>
<td>
<br>
<h2 style="margin-right:210px;">Address</h2>
Mobile Number : 7388729494
<p>Shop Number 2/3, Shivpuri Road, Sipri Bazar, <br> Jhansi - 284003, 
  Near Bankers Colony,Near Pahuj Canal (Map)</p>



</td>
</tr>
</table>
<h2 style="text-align: center;">For Queries Enter Details Below </h2>
<br><br>
<br><br><br>
<center><div class="dropdown" style="background-color:rgb(255, 217, 0); width:450px; height:60px;"><br>
  <span>Let me know about you</span>
  <div class="dropdown-content" style="background-color:rgb(255, 217, 0); width:450px; height:300px;">
  <br>
  <p><a href="from2">Customer</a></p>
  <p><a href="from2">Media</a></p>
  <p><a href="from2">Prospective employee</a></p>
  <p><a href="from2">Student</a></p>
  <p><a href="from2">Franchise partner</a></p>
  <p><a href="from2">Vendor</a></p>
  
  </div>
</div>
<br><br><br>
</center>
</div>





{% endblock %}
