
{% extends 'app/index.html'%}
{% load static %}





{% block body %}
.<br/><br/><br/>





<div style="background-color:white;">
<div style="background-color:white;"><br/><br/>
        <center><h1>WHICH SERVICE DO YOU NEED?</h1></center>

    <p>
    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double
    click me to add your own content and make changes to the font. I’m a great place for you to tell a story and
    let your users know a little more about you.


</p>


</div>
<div style="background-color:Goldenrod;"><br/><br/>
<center><table>
    <tr><td><center><img src="{% static 'app/image/165.png'%}" style="width:150px; height:100px;"></center></td>
        <td><center><img src="{% static 'app/image/157.png'%}" style="width:150px; height:100px;"></center></td>
        <td><center><img src="{% static 'app/image/164.png'%}" style="width:150px; height:100px;"></center></td></tr>
    <tr><td style="font-size:20px;"><center>DEDICATED MECHANICS</center></td><td style="font-size:20px;"><center>CAR CHECKS</center></td><td style="font-size:20px;"><center>OIL & BREAK CHECKS</center></td></tr>
    <tr><td><center>I'm a paragraph. Click here to add your own text and edit me. <br/>
        It’s easy. Just click “Edit Text” or double click<br/> me to add your own content and make changes to the font.

</center></td><td><center>I'm a paragraph. Click here to add your own text and edit me. <br/>
        It’s easy. Just click “Edit Text” or double click<br/> me to add your own content and make changes to the font.
</center></td><td><center>I'm a paragraph. Click here to add your own text and edit me. <br/>
        It’s easy. Just click “Edit Text” or double click<br/> me to add your own content and make changes to the font.
</center></td></tr>

    <tr><td><center><img src="{% static 'app/image/117.png'%}" style="width:150px; height:100px;"></center></td>
        <td><center><img src="{% static 'app/image/159.png'%}" style="width:150px; height:100px;"></center></td>
        <td><center><img src="{% static 'app/image/161.png'%}" style="width:150px; height:100px;"></center></td></tr>
    <tr><td style="font-size:20px;"><center>BREAKDOWN SERVICE</center></td><td style="font-size:20px;"><center>TIRE CHANGE</center></td><td style="font-size:20px;"><center>BATTERY CHANGE</center></td></tr>
    <tr><td><center>I'm a paragraph. Click here to add your own text and edit me. <br/>
        It’s easy. Just click “Edit Text” or double click<br/> me to add your own content and make changes to the font.
</center></td><td><center>I'm a paragraph. Click here to add your own text and edit me. <br/>
        It’s easy. Just click “Edit Text” or double click<br/> me to add your own content and make changes to the font.
</center></td><td><center>I'm a paragraph. Click here to add your own text and edit me. <br/>
        It’s easy. Just click “Edit Text” or double click<br/> me to add your own content and make changes to the font.
</center></td></tr>



</table></center>


{% endblock %}
